<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
   
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeCallerData>true</includeCallerData>
			
			<!-- add provider for custom JSON MDC-style -->
			<provider class="com.github.skjolber.log.domain.utils.configuration.JsonMdcJsonProvider"/>
			
			<!-- add pretty-printing for testing -->
			<jsonGeneratorDecorator class="com.github.skjolber.log.domain.test.util.PrettyPrintingDecorator"/>
		</encoder>
    </appender>
    
    <appender name="STDOUT_CLASSIC" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger: %msg %mdc %marker %n</pattern>
        </encoder>
    </appender>
    
	<root level="INFO">
		<appender-ref ref="STDOUT_JSON" />
		<appender-ref ref="STDOUT_CLASSIC" />
	</root>
</configuration>