<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
   
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeCallerData>true</includeCallerData>
			
			<!-- add provider for custom JSON MDC-style -->
			<provider class="com.github.skjolber.log.domain.utils.configuration.JsonMdcJsonProvider"/>
			
			<!-- add pretty-printing for testing -->
			<jsonGeneratorDecorator class="com.github.skjolber.decorators.SyntaxHighligtingDecorator"/>
		</encoder>
    </appender>
    
	<root level="INFO">
		<appender-ref ref="STDOUT_JSON" />
	</root>
</configuration>
